body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(images/desktop.png); */
}

/* ********  Header  ********* */
/* ------- Page Navigation ------- */
/* Navigation Wrapper */
.navWrap{
  position: relative;
  display: block;
  width: 100%;
}
.navigation{
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
  height: 108px;
}

/* ------- Small Navigation - Top --------- */
.navTopWrap{
  position: relative;
  display: block;
  height: 30px;
  width:100%;
  background-color: #82001c;
}
/* Free Shipping Offer */
#leftOffer{
  position: relative;
  float: left;
  background-color: #b20127;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  height: 100%;
  padding: 9px 55px 9px 138px;
  margin-left: -138px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0.35px;
}
#leftOffer > span{
  color: #ff8fa7;
  font-weight: 200;
}
/* Skewed left ending - Desktop */
#leftOffer::before{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #b20127;
  border-width: 30px;
  left: -30px;
  top:0;
}
/* Skewed right ending - Desktop*/
#leftOffer::after{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #82001c;
  border-width: 30px;
  right: -30px;
  top:0;
}
/* Top Right Secondary navigation */
.navTop{
  position: relative;
  float: right;
  height: 30px;
  vertical-align: middle;
  background-color: #82001c;
  padding-right: 125px;
  margin-right: -138px;
}
/* Skewed Right Ending - Desktop */
.navTop::after{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #82001c;
  border-width: 30px;
  right: -30px;
  top:0;
}
/* Top right secondary navigation links */
.navTop > .navTopLink{
  display: inline-block;
  text-decoration: none;
  color: #f8879f;
  font-size: 12px;
  padding: 9px 16px;
  vertical-align: middle;
}

/*  -----  Primary Navigation - Bottom ------- */
.navBottomWrap{
  display: block;
  position: relative;
  height: 78px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.siteLogo{
  float: left;
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
  margin-top: 13px;
  height: 52px;
}
#mobile-logo{
  display: none;
}
.primaryNavWrap{
  display: inline-block;
  width: 690px;
  height: 78px;
}
.navBottomTable{
  width: 520px;
  height: 78px;
  margin: 0 auto;
}
.navBottomLink{
  display: inline-block;
  height: 78px;
  vertical-align: middle;
}
.navBottomLink:last-child{
  margin-left: -4px;
}
.navLinkTitle{
  height: 78px;
  padding: 25px 75px 20px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #82001c;
  cursor: pointer;
}
.navBottomWrap .navSpanWide{
  position: relative;
  font-size: 19px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}
/* Small Down Arrow next to Primary links */
.primaryNavWrap .navLinkTitle > span::after{
  content: '';
  position: absolute;
  border: solid transparent;
  margin-left: 12px;
  margin-top: 2px;
  border-left: 5px solid transparent;
	border-right: 8px solid transparent;
  border-top: 14px solid #82001c;
  margin-bottom: -14px;
}
/* Call to Action - Phone Number */
.callUs{
  float: right;
  margin-top: 22px;
  text-align: right;
}
.callUs > a{
  text-decoration: none;
  color: #82001c;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

/* ---  Navigation Button Toggler - Hamburger ----- */
#navbar-toggler {
  display: none;
  position: relative;
  border: none;
  padding: 17px 15px;
  width: 16px;
  height: 10px;
  margin: 0;
  float: left;
  background-color: #82001c;
  cursor: pointer;
}
/* horizontal lines inside nav button: */
#navbar-toggler span {
  display: block;
  position: relative;
  border-radius: 4px;
  width: 17px;
  height: 1px;
  background-color: #fff;
  margin: 3px 0;
  padding: 0;
}

/* \\\\ Header Responsive Design //// */
/* Small & Medium Screens */
@media only screen and (max-width: 768px){
  #navbar-toggler {
    display: block;
  }
  .navigation{
    height: 100px;
  }
  .navTopWrap{
    display: none;
    position: absolute;
    width: 100%;
    top: 48px;
    z-index: 10;
  }
  .showNavMenu{
    display: block;
  }
  .open{
    display: block;
  }
  
  #leftOffer{
    display: none;
  }
  .navTop{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #b20127;
    padding: 5px 0;
    border: 1px solid #ff8fa7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navTop > .navTopLink{
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    color: #ffffff;
  }
  .navTop > .navTopLink:hover{
    background-color: #82001c;
  }
  .navTop::after{
    display: none;
  }
  .navBottomWrap{
    width: 100%;
    height: 100px;
    background-color: #82001c;
  }
  .logoWrap{
    height: 48px;
    margin: 0 auto;
    width: 90px;
    text-align: center;
  }
  .siteLogo{
    background-color: #82001c;
    float: none;
    margin-top: 10px;
    height: 30px;
    display: inline-block;
  }
  #desktop-logo{
    display: none;
  }
  #mobile-logo{
    display: block;
  }
  .siteLogo > img{
    width: 90px;
    height: 30px;
  }
  .primaryNavWrap{
    display: block;
    height: 52px;
    background-color: #b20127;
    width: 100%;
    border-top: 1px solid #f8879f;
  }
  .navBottomTable{
    width: 100%;
    padding-right: 20px;
    padding-left: 15px;
    height: 52px;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .navBottomLink{
    height: 52px;
  }
  .navBottomLink:nth-child(1){
    float: left;
  }
  .navBottomLink:nth-child(3){
    float: right;
  }
  .primaryNavWrap .navLinkTitle{
    padding: 10px 20px 10px 0px;
    text-align: start;
    color: #ffffff;
    font-size: 9px;
    height: 52px;
    line-height: 14px;
  }
  .navBottomWrap .navSpanWide{
    font-size: 14px;
    font-weight: 400;
  }
  .primaryNavWrap .navLinkTitle > span::after{
    border-top: 10px solid #ffffff;
    border-right: 5px solid transparent;
    margin-left: 9px;

  }
  .callUs{
    display: none;
  }
}

/* Medium Screens Only */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation{
    height: 180px;
  }
  #navbar-toggler {
    margin: 30px;
  }
  .navTopWrap{
    top: 90px;
  }
  .navBottomWrap{
    height: 180px;
  }
  .logoWrap{
    height: 90px;
    width: 140px;
  }
  .siteLogo{
    font-size: 28px;
    margin-top: 20px;
    padding: 8px 25px;
  }
  .primaryNavWrap{
    height: 90px;
  }
  .navBottomTable{
    padding-right: 50px;
    padding-left: 50px;
    height: 90px;
  }
  .navBottomLink{
    height: 90px;
  }
  .primaryNavWrap .navLinkTitle{
    padding: 26px 30px 18px 0px;
  }
}

/* Larger Screens */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .navWrap{
    position: relative;
    display: block;
    width: 100%;
  }
  .navigation{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    height: 108px;
  }
  
  #leftOffer{
    font-size: 10px;
    padding: 9px 50px 9px 10px;
    margin-left: 0;
  }
  #leftOffer::before{
    display: none;
  }
  .navTop{
    height: 30px;
    padding-right: 10px;
    margin-right: 0;
  }
  .navTop::after{
    display: none;
  }
  .navTop > .navTopLink{
    font-size: 10px;
    padding: 9px;
  }
  .siteLogo{
    padding: 10px 34px;
    margin-left: 10px;
  }
  .primaryNavWrap{
    left: 50%;
    width: 450px;
  }
  .navBottomTable{
    width: 440px;
  }
  .navLinkTitle{
    padding: 30px 40px 20px 30px;
  }
  .callUs{
    margin-right: 10px;
  }
}


/* ------ ***   SubHeader  **** ------- */
.subHeaderWrap{
  width: 100%;
  background-color: #ffdd00;
  border-top: 1px solid #ccc;
  height: 30px;
  overflow: hidden;
}
.subHeader{
  width: 980px;
  margin: 7px auto;
  list-style: none;
  padding-left: 0;
}
.subHeader > li{
  display: inline-block;
}
.subHeader > li > a {
  text-decoration: none;
  color: #464646;
  font-size: 12px;
  font-weight: 500;
}
.subHeader > li span{
  padding: 0 4px;
  font-size: 9px;
}

/* \\\\ Sub Header Responsive Design //// */
@media only screen and (max-width: 991px){
  .subHeaderWrap{
    margin-top: 0;
    height: auto;
    padding-bottom: 3px;
  }
  .subHeader{
    width: 90%;
    padding: 0 15px;
    margin: 3px 0;
  }
  .subHeader > li > a {
    font-size: 9px;
  }
}

/*\ ********************************************* \*/
/*  ***** Current Page - Sidebar & Products ***** */
/*\ ********************************************* \*/
main{
  width: 100%;
}
#contentContainer{
  display: block;
  width: 980px;
  height: 750px;
  margin: 0 auto;
}
/* Products: Filtered Category Title - h1 */
#contentHeading{
  margin: 0 auto 18px;
  padding-top: 45px;
  font-size: 55px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  color: #464646;
}

/* ------ Sidebar Elements --------- */
.sidebar{
  position: relative;
  width: 160px;
  color: #464646;
  display: inline-block;
}
.sidebar > h2{
  margin: -3px auto 28px;
  font-size: 14px;
  font-weight: 600;
}

.sidebar .optionList{
  padding-left: 0;
  margin-top: -4px;
  list-style: none;
  font-size: 15px;
  font-size-adjust:0.5;
}
.sidebar .optionList > .optionItem{
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid #b6b6b6;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.sidebar .optionList > .optionItem:first-child{
  border-top: none;
}
/* Hover Effect - Arrow to the right */
.optionList .hoverArrow{
  position: absolute;
  background-image: url(images/vector.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 15px;
  top: 50%;
  margin-top: -6px;
  right: 5px;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.optionItem:hover .hoverArrow{
  opacity: 1;
  right: -4px;
}
.optionList .activeItem a{
  font-size: 14px;
  font-weight: 600;
  outline-style: none;
}
.optionList .activeItem > span{
  opacity: 1;
  right: -4px;
}

/* --- Products Grid --- */
.productsWrap{
  display: block;
  float: right;
}
.productsGrid{
  display: none;
  /* display: table; */
  width: 784px;
  height: 568px;
  border: 1px solid #dcdbdb;
  min-height: 500px;
  margin-right: 1px;
}
.placeholder{
  text-align: center;
  font-size: 2em;
  padding-top: 2em;
}
.gridBox{
  position: relative;
  display: table-cell;
  width: 25%;
  height: 190px;
  border: 1px solid #dcdbdb;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: start;
  cursor: pointer;
  overflow: hidden;
}
.productImg{
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  overflow: hidden;
}
.productImg > img{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-img{
  display: none;
}
/* Products Images */
.gridBox:nth-child(2) .productImg > img{
  margin-top: 15px;
}
.gridBox:nth-child(4) .productImg > img{
  margin-top: 15px;
}
.gridBox:nth-child(5) .productImg > img{
  margin-top: 12px;
}
.gridBox:nth-child(7) .productImg > img{
  margin-top: 4px;
  padding-right: 10px;
}
.gridBox:nth-child(9) .productImg > img{
  margin-top: 7px;
}
.gridBox:nth-child(11) .productImg > img{
  margin-top: 7px;
}

/* Product Caption */
.gridBox p{
  position: absolute;
  bottom: 0;
  padding-right: 40px;
  padding-left: 17px;
  font-size: 13px;
  font-weight: 600;
  color: #464646;
  line-height: 16px;
}
/* Product VIEW button when hover */
.gridBox > .productImg > .hoverButton{
  position: absolute;
  padding: 6px 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #82001c;
  border: 2px solid #82001c;
  background-color: rgba(233, 232, 232, 0.9);
  left: 50%;
  margin-left: -58px;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gridBox:hover .hoverButton{
  bottom: 32px;
  opacity: 1;
}

/* \\\\ Sidebar & Products Grid - Responsive Design //// */
@media only screen and (max-width: 576px){
  #contentContainer{
    width: 100%;
    height: auto;
  }
  #contentHeading , .sidebar{
    display: none;
  }
  .productsWrap{
    float: none !important;
  }
  .productsWrap .productsGrid{
    width: 100%;
    min-width: 300px;
    max-width: 460px;
    margin: 0px auto;
    border: 0;
  }
  .gridBox {
    width: 48%;
    height: 204px;
    margin: auto;
    border: 0;
    text-align: left;
  }
  .gridBox p{
    position: relative;
    margin-top: 0;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 5px;
    line-height: 17px;
  }
  .gridBox .productImg{
    width: 90%;
    max-height: 150px;
    margin: auto;
    margin-right: 0;
  }
  .gridBox .productImg img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 150px;
    margin-top: 0 !important;
  }
  .desktop-img{
    display: none;
  }
  .mobile-img{
    display: inline-block;
  }
  .gridBox > .productImg > .hoverButton{
    padding: 5px 30px;
    font-size: 16px;
    margin-left: -46px;
  }
  .gridBox:nth-last-child(-n+4){
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  #contentContainer{
    width: 100%;
    height: auto;
  }
  #contentHeading , .sidebar{
    display: none;
  }
  .productsWrap{
    float: none !important;
  }
  .productsWrap .productsGrid{
    width: 100%;
    max-width: 680px;
    margin: 20px auto;
    border: 0;
  }
  .gridBox {
    width: 33.33%;
    height: 200px;
    margin: auto;
    text-align: left;
    border: 0;
  }
  .gridBox .productImg{
    width: 100%;
  }
}


@media only screen and (min-width: 769px) and (max-width: 991px) {
  #contentContainer{
    width: 100%;
    height: 900px;
    margin: 0 auto;
  }
  #contentHeading{
    margin: 0 auto 20px;
    padding-top: 20px;
    padding-left: 10px;
  }
  
  /* ------ Sidebar Elements --------- */
  .sidebar{
    width: 140px;
    padding-left: 10px;
  }
  /* --- Products Grid --- */
  .productsWrap{
    width: 70%;
  }
  .productsGrid{
    width: 100%;
    padding-right: 10px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .gridBox{
    width: 33.33%;
    border: 0;
  }
}