body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ********  Header  ********* */
/* ------- Page Navigation ------- */
.navWrap{
  position: relative;
  display: block;
  width: 100%;
}
.navigation{
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
  height: 108px;
}

/* ------- Small Navigation - Top --------- */
.navTopWrap{
  position: relative;
  display: block;
  height: 30px;
  width:100%;
  background-color: #82001c;
}
#leftOffer{
  position: relative;
  float: left;
  background-color: #b20127;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  height: 100%;
  padding: 9px 60px 9px 130px;
  margin-left: -130px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#leftOffer > span{
  color: #ff8fa7;
  font-weight: 400;
}
#leftOffer::before{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #b20127;
  border-width: 30px;
  left: -30px;
  top:0;
}
#leftOffer::after{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #82001c;
  border-width: 30px;
  right: -30px;
  top:0;
}

.navTop{
  position: relative;
  float: right;
  height: 30px;
  vertical-align: middle;
  background-color: #82001c;
  padding-right: 114px;
  margin-right: -130px;
}
.navTop::after{
  content: '';
  position: absolute;
  border: solid transparent;
  border-top-color: #82001c;
  border-width: 30px;
  right: -30px;
  top:0;
}
.navTop > .navTopLink{
  display: inline-block;
  text-decoration: none;
  color: #f8879f;
  font-size: 11px;
  padding: 9px 16px;
  font-weight: 600;
  vertical-align: middle;
}

/*  -----  Primary Navigation - Bottom ------- */
.navBottomWrap{
  display: block;
  position: relative;
  height: 78px;
  width: 100%;
  box-sizing: border-box;
}

.siteLogo{
  float: left;
  background-color: #82001c;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 34px;
  border-radius: 3px;
  margin-top: 14px;
}
.primaryNavWrap{
  display: inline-block;
  width: 690px;
  height: 78px;
}
.navBottomTable{
  width: 508px;
  height: 78px;
  margin: 0 auto;
}
.navBottomLink{
  display: inline-block;
  height: 78px;
  vertical-align: middle;
}
.navLinkTitle{
  height: 78px;
  padding: 30px 80px 20px 20px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #82001c;
  cursor: pointer;
}
.navBottomWrap .navSpanWide{
  position: relative;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
.primaryNavWrap .navLinkTitle > span::after{
  content: '';
  position: absolute;
  border: solid transparent;
  margin-left: 8px;
  margin-top: 2px;
  border-left: 8px solid transparent;
	border-right: 8px solid transparent;
  border-top: 14px solid #82001c;
  margin-bottom: -14px;
}

.callUs{
  float: right;
  margin-top: 30px;
  text-align: right;
}
.callUs > a{
  text-decoration: none;
  color: #82001c;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

/* ---  Navigation Button Toggler ----- */
.navbar-toggler {
  display: none;
  position: relative;
  border: none;
  padding: 0;
  width: 30px;
  height: 25px;
  margin: 20px;
  float: left;
  background-color: #82001c;
  cursor: pointer;
}
/* horizontal lines inside nav button: */
.navbar-toggler span {
  display: block;
  position: relative;
  border-radius: 4px;
  width: 30px;
  height: 2px;
  background-color: #ff8fa7;
  margin: 5px 0;
  padding: 0;
}


/* \\\\ Header Responsive Design //// */
@media only screen and (max-width: 768px){
  .navbar-toggler {
    display: block;
  }
  .navigation{
    height: 140px;
  }
  .navTopWrap{
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    z-index: 10;
  }
  #leftOffer{
    display: none;
  }
  .navTop{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #b20127;
    padding: 5px 0;
    border: 1px solid #ff8fa7;
  }
  .navTop > .navTopLink{
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    color: #ffffff;
  }
  .navTop > .navTopLink:hover{
    background-color: #82001c;
  }
  .navTop::after{
    display: none;
  }
  .navBottomWrap{
    width: 100%;
    height: 140px;
    background-color: #82001c;
  }
  .logoWrap{
    height: 70px;
    margin: 0 auto;
    width: 120px;
    text-align: center;
  }
  .siteLogo{
    background-color: #fff;
    color: #82001c;
    font-size: 24px;
    float: none;
    margin-top: 15px;
    padding: 5px 20px;
    display: inline-block;
  }
  .primaryNavWrap{
    display: block;
    height: 70px;
    background-color: #b20127;
    width: 100%;
    border-top: 1px solid #f8879f;
  }
  .navBottomTable{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
  }
  .navBottomLink{
    height: 70px;
  }
  .navBottomLink:nth-child(1){
    float: left;
  }
  .navBottomLink:nth-child(3){
    float: right;
  }
  .primaryNavWrap .navLinkTitle{
    padding: 18px 30px 18px 0px;
    text-align: start;
    color: #ffffff;
    font-size: 10px;
    height: 70px;
  }
  .navBottomWrap .navSpanWide{
    font-size: 14px;
    font-weight: 400;
  }
  .primaryNavWrap .navLinkTitle > span::after{
    border-top: 14px solid #ffffff;
  }
  .callUs{
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation{
    height: 180px;
  }
  .navbar-toggler {
    margin: 30px;
  }
  .navTopWrap{
    top: 90px;
  }
  .navBottomWrap{
    height: 180px;
  }
  .logoWrap{
    height: 90px;
    width: 140px;
  }
  .siteLogo{
    font-size: 28px;
    margin-top: 20px;
    padding: 8px 25px;
  }
  .primaryNavWrap{
    height: 90px;
  }
  .navBottomTable{
    padding-right: 50px;
    padding-left: 50px;
    height: 90px;
  }
  .navBottomLink{
    height: 90px;
  }
  .primaryNavWrap .navLinkTitle{
    padding: 26px 30px 18px 0px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .navWrap{
    position: relative;
    display: block;
    width: 100%;
  }
  .navigation{
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    height: 108px;
  }
  
  /* ------- Small Navigation - Top --------- */
  #leftOffer{
    font-size: 10px;
    padding: 9px 50px 9px 10px;
    margin-left: 0;
  }
  #leftOffer::before{
    display: none;
  }
  .navTop{
    height: 30px;
    padding-right: 10px;
    margin-right: 0;
  }
  .navTop::after{
    display: none;
  }
  .navTop > .navTopLink{
    font-size: 10px;
    padding: 9px;
  }
  .siteLogo{
    padding: 10px 34px;
    margin-left: 10px;
  }
  .primaryNavWrap{
    left: 50%;
    width: 460px;
  }
  .navBottomTable{
    width: 440px;
  }
  .navLinkTitle{
    padding: 30px 40px 20px 30px;
  }
  .callUs{
    margin-right: 10px;
  }
}


/* ------ SubHeader ------- */
.subHeaderWrap{
  width: 100%;
  background-color: #ffdd00;
  border-top: 1px solid #ccc;
  height: 30px;
  margin-top: 5px;
}
.subHeader{
  width: 980px;
  margin: 6px auto;
  list-style: none;
  padding-left: 0;
}
.subHeader > li{
  display: inline-block;
}
.subHeader > li > a {
  text-decoration: none;
  color: #464646;
  font-size: 12px;
  font-weight: 500;
}
.subHeader > li span{
  padding: 0 6px;
}

/* \\\\ Sub Header Responsive Design //// */
@media only screen and (max-width: 768px){
  .subHeaderWrap{
    margin-top: 0;
    height: auto;
    padding-bottom: 3px;
  }
  .subHeader{
    width: 100%;
    padding: 0 15px;
  }
  .subHeader > li > a {
    font-size: 11px;
  }
}


/* ----  Current Page Sidebar & Products */
main{
  width: 100%;
}
#contentContainer{
  display: block;
  width: 980px;
  height: 750px;
  margin: 0 auto;
}
#contentHeading{
  margin: 0 auto 20px;
  padding-top: 55px;
  font-size: 48px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  color: #464646;
}

/* ------ Sidebar Elements --------- */
.sidebar{
  position: relative;
  width: 160px;
  color: #464646;
  display: inline-block;
}
.sidebar > h2{
  margin: 0 auto 28px;
  font-size: 16px;
  font-weight: 600;
}

.sidebar .optionList{
  padding-left: 0;
  margin-top: 5px;
  list-style: none;
}
.sidebar .optionList > .optionItem{
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: .5px solid #b6b6b6;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.sidebar > .optionWrapper a{
  text-decoration: none;
  color: #464646;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
}
.optionList .hoverArrow{
  position: absolute;
  background-image: url(images/vector.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 15px;
  margin-top: 3px;
  right: 10px;
  opacity: 0;
  transition: all 200ms ease-in-out;

}
.optionItem:hover .hoverArrow{
  opacity: 1;
  right: 0;
}
.optionList .activeItem a{
  font-weight: 600;
}
.optionList .activeItem > span{
  opacity: 1;
  right: 0;
}

/* --- Products Grid --- */
.productsWrap{
  display: block;
  float: right;

}
.productsGrid{
  display: table;
  width: 780px;
  border: 1px solid #dcdbdb;
}
.gridBox{
  position: relative;
  display: table-cell;
  width: 195px;
  height: 190px;
  border: 1px solid #dcdbdb;
  float: left;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.productImg{
  position: relative;
  width: 170px;
  height: 150px;
  margin: 0 auto;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}
.gridBox:nth-child(1) .productImg{
  background-image: url(images/hand-watch.png);
}
.gridBox:nth-child(2) .productImg{
  background-image: url(images/sneakers.png);
}
.gridBox:nth-child(3) .productImg{
  background-image: url(images/shampoo.png);
}
.gridBox:nth-child(4) .productImg{
  background-image: url(images/intel-reader.png);
  width: 160px;
}
.gridBox:nth-child(5) .productImg{
  background-image: url(images/screw.png);
}
.gridBox:nth-child(6) .productImg{
  background-image: url(images/kitchen.png);
}
.gridBox:nth-child(7) .productImg{
  background-image: url(images/necklace.png);
}
.gridBox:nth-child(8) .productImg{
  background-image: url(images/baby-stroller.png);
}
.gridBox:nth-child(9) .productImg{
  background-image: url(images/pig-toy.png);
}
.gridBox:nth-child(10) .productImg{
  background-image: url(images/iphones.png);
}
.gridBox:nth-child(11) .productImg{
  background-image: url(images/headphone.png);
}
.gridBox:nth-child(12) .productImg{
  background-image: url(images/tea-pot.png);
}

.gridBox p{
  position: absolute;
  bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 600;
  color: #464646;
  line-height: 18px;
}
.gridBox > .productImg > .hoverButton{
  position: absolute;
  padding: 8px 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #82001c;
  border: 2px solid #82001c;
  background-color: rgba(233, 232, 232, 0.9);
  left: 50%;
  margin-left: -58px;
  bottom: 20px;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.gridBox:hover .hoverButton{
  bottom: 30px;
  opacity: 1;
}

/* \\\\ Sidebar & Products Grid - Responsive Design //// */
@media only screen and (max-width: 576px){
  #contentContainer{
    width: 100%;
    height: auto;
  }
  #contentHeading , .sidebar{
    display: none;
  }
  .productsWrap{
    float: none !important;
  }
  .productsWrap .productsGrid{
    width: 100%;
    min-width: 310px;
    max-width: 460px;
    margin: 20px auto;
    border: 0;
  }
  .gridBox {
    width: 50%;
    height: 200px;
    margin: auto;
    border: 0;
    text-align: left;
  }
  .gridBox .productImg{
    width: 100%;
  }
  .gridBox > .productImg > .hoverButton{
    padding: 5px 30px;
    font-size: 16px;
    margin-left: -46px;
  }
  .gridBox:nth-child(1) .productImg{
    background-image: url(mobile_imgs/watch.png);
  }
  .gridBox:nth-child(2) .productImg{
    background-image: url(mobile_imgs/sneakers.png);
  }
  .gridBox:nth-child(3) .productImg{
    background-image: url(mobile_imgs/shampoo.png);
  }
  .gridBox:nth-child(4) .productImg{
    background-image: url(mobile_imgs/intel-reader.png);
    width: 160px;
  }
  .gridBox:nth-child(5) .productImg{
    background-image: url(mobile_imgs/screw.png);
  }
  .gridBox:nth-child(6) .productImg{
    background-image: url(mobile_imgs/kitchen.png);
  }
  .gridBox:nth-child(7) .productImg{
    background-image: url(mobile_imgs/necklace.png);
  }
  .gridBox:nth-child(8) .productImg{
    background-image: url(mobile_imgs/baby-stroller.png);
  }
  .gridBox:nth-last-child(-n+4){
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  #contentContainer{
    width: 100%;
    height: auto;
  }
  #contentHeading , .sidebar{
    display: none;
  }
  .productsWrap{
    float: none !important;
  }
  .productsWrap .productsGrid{
    width: 100%;
    max-width: 680px;
    margin: 20px auto;
    border: 0;
  }
  .gridBox {
    width: 33.33%;
    height: 200px;
    margin: auto;
    text-align: left;
    border: 0;
  }
  .gridBox .productImg{
    width: 100%;
  }
}